body { font-family: "Indie Flower" }

h2 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.floater {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
img {
    height: 200px;
}
